.tabs {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 40px 0;
}

.tabs__link {
    display: inline-block;
    margin-right: 50px;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    font-size: 36px;
    font-family: 'Manrope';
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.07em;
    color: #141414;
    transition: 0.3s;
}


@media (max-width: 767px) {
    .tabs {
        padding: 30px 20px 0;
    }

    .tabs__link {
        margin-right: 23px;
        font-size: 18px;
    }

    .tabs__link:last-child {
        margin-right: 0;
    }
}