.header {
    width: 100%;
    background: linear-gradient(0deg, #464341 0%, #010101 100%);
}

.header__container {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 40px;
}

.header__logo svg {
    color: #FFFFFF;
    transition: 0.3s;
}

.header__logo svg:hover {
    opacity: 0.5;
}

.header__link {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
}

.header__linkMobile {
    display: none;
}

@media (max-width: 767px) {
    .header__container {
        height: 60px;
        padding: 20px;
    }

    .header__logo img {
        max-width: 118px;
        max-height: 20px;
    }

    .header__link {
        display: none;
    }

    .header__linkMobile {
        display: block;
    }
}