.block {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.block__wrap {
    box-sizing: border-box;
    max-width: 640px;
    padding-right: 40px;
}

.block__title {
    margin-bottom: 25px;
    font-family: 'Orchidea Pro';
}

.block__text {
    margin-bottom: 20px;
}

.block__cover {
    position: relative;
    max-width: 600px;
}

.block__cover img {
    top: 0;
    left: 0;
}

@media (min-width: 960px) and (max-width: 1340px) {
    .block__cover {
        max-width: 500px;
    }
}

@media (max-width: 960px) {
    .block {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .block__wrap {
        max-width: none;
        padding-right: 0;
    }

    .block__cover {
        max-width: none;
    }
}

@media (max-width: 767px) {
    .block {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .block__wrap {
        max-width: none;
        padding-right: 0;
    }

    .block__cover {
        max-width: none;
    }

    .block__cover img {
        max-height: 400px;
    }
}