@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Roboto&display=swap');

@font-face {
  font-family: 'Orchidea Pro';
  src: local('Orchidea Pro'), local('Orchidea-Pro'),
  url('fonts/orchidea_pro_medium.woff2') format('woff2'),
  url('fonts/orchidea_pro_medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Manrope', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  background: #E5E5E5;
}

#root {
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  min-height: calc(100vh - 100px - 137px - 200px);
  margin: 0 auto;
  padding: 110px 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  line-height: 110%;
  color: #141414;
}

h1 {
  margin-bottom: 70px;
  font-size: 64px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 18px;
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #141414;
}

@media (max-width: 767px) {
  .container {
    min-height: calc(100vh - 100px - 137px - 200px);
    margin: 0 auto;
    padding: 50px 20px;
  }

  h1 {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 120%;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
    line-height: 130%;
  }
}