.slider {
    box-sizing: border-box;
    margin: 70px auto 115px;
    position: relative;
}
.slick-slider {
    position: relative;
}

.sliderButton {
    position: absolute;
    width: 16px;
    height: 16px;
    top: auto;
    bottom: -100px;
    margin-right: 10px;
    border: none;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    font-size: 0;
    background-color: transparent;
    z-index: 1000;

}

.slide {
    position: relative;
    max-width: 340px;
    max-height: 550px;
    overflow: hidden;
}

.slide img {
    object-fit: contain;
}

.slideDesc {
    position: absolute;
    box-sizing: border-box;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px 35px;
    text-align: left;
    font-family: 'Orchidea Pro';
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    color: #FFFFFF;
    background: rgba(20, 20, 20, 0.5);
}

.slideDesc .right {
    width: 50%;
    top: 0;
    left: auto;
    text-align: center;
    padding: 40px 15px;
}

.sliderWrap {
    position: relative;
}

.shadowRight,
.shadowLeft {
    position: absolute;
    width: 380px;
    height: 552px;
    top: -1px;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.05) 100%);
    z-index: 10;
}

.shadowRight {
    right: 0;
}

.shadowLeft {
    left: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media (max-width: 1119px) {
    .slide {
        max-width: 280px;
        max-height: 400px;
    }

    .shadowRight,
    .shadowLeft {
        display: none;
    }
}

@media (max-width: 639px) {
    .sliderButton {
        display: none;
    }
}
